
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">Warehouse List</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a routerLink="/app/DashBoard">Dashboard</a></li>
									<li class="breadcrumb-item active">Warehouse</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="student-group-form">
						<div class="row">
							<div class="col-lg-4 col-md-6">  
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search Warehouse by City/Country Name ..." [(ngModel)]="wareHouseName" >
								</div>
							</div>
							
							<div class="col-lg-3">  
								<div class="search-student-btn">
									<button type="button" class="btn btn-primary"  (click)="SearchByWareHouseName()">Search</button>
								</div>
							</div>
						</div>
					</div>
				
					<div class="row">
						<div class="col-sm-12">
						
							<div class="card card-table">
								<div class="card-body">
								
									<!-- Page Header -->
									<div class="page-header">
										<div class="row align-items-center">
											<div class="col">
												<h3 class="page-title">Warehouses</h3>
											</div>
											<div class="col-auto text-end float-end ms-auto download-grp">
												<a routerLink="/app/NewWareHouse" class="btn btn-primary"><i class="fas fa-plus" routerLink="/app/WareHouseList"></i></a>
											</div>
										</div>
									</div>
									<!-- /Page Header -->
									
									<div class="table-responsive">
										<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                            <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="DataTables_Table_0_length">
                                                
                                                </div>
                                            </div>




                                            <div class="col-sm-12 col-md-6">

                                            </div>
                                        </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
											<thead class="student-thread">
												<tr role="row">
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 155.438px;">
                                                        Warehouse
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 155.438px;">
                                                        Description
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 155.438px;">
                                                        Country
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Class: activate to sort column ascending" style="width: 37.2344px;">
                                                        City
                                                    </th>
                                                    <th class="text-end sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 72px;">
                                                        Action
                                                    </th>
                                                    </tr>
											</thead>






											<tbody>	
												<ng-container *ngIf="!wareHouseName"></ng-container>
											<tr role="row" class="even" *ngFor="let Item of listWareHouse">
													
													
													<td>
														<h2 class="table-avatar">
															<a href="teacher-details.html">{{Item.name}}</a>
														</h2>
													</td>
													
													<td>{{Item.description}}</td>

                                                    <td>
														<h2 class="table-avatar">
															<a href="teacher-details.html">{{Item.country.name}}</a>
														</h2>
													</td>

                                                    <td>{{Item.city.name}}</td>
													
													<td class="text-end">
														<div class="actions">
															<a  class="btn btn-sm bg-success-light me-2" (click)="Delete(Item.id)" >
																<i class="fa-solid fa-trash"></i>
															</a>
															<a class="btn btn-sm bg-danger-light"  (click)="Edit(Item.id)">
																<i class="feather-edit"></i>
															</a>
														</div>
													</td>
												</tr>
                                            </tbody>
										</table>






                                    </div>
                                </div>
                                <div class="row"><div class="col-sm-12 col-md-5">
                                    <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
                                        
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous">
                                                <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">
                                                    
                                                </a>
                                            </li>
                                            <li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">
                                                
                                            </a>
                                        </li>
                                        <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next">
                                            <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">
                                                
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
									</div>
								</div>
							</div>							
						</div>					
					</div>					
				
